@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=block');


* {
	font-family: 'Montserrat', sans-serif;
}

.full-size {
	min-height: 100vh;
	height: 100%;
	width: 100%;
}

.center-contents {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.login-container {
	border: 1px solid black;
	padding: 0px 24px 16px;
	border-radius: 8px;
}

.input-group {
	display: block;
	margin-bottom: 16px;
	;
}

.input-group input {
	display: block;

}